body {
    background-color: aquamarine;
    padding: 20px;
}

.main {
    display: flex;
    gap: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.sidebar > * {
    margin: 0;
}

.projects_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project_view {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project_header h2{
    margin: 0;
    padding: 0;
}

.project_todos {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
}

.todo_summary {
    border-top: 2px solid gray;
    padding: 10px 0px;
}

.todo_summary .duedate {
    font-size: 0.8rem;
}
